@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    /* LIGHT MODE */
    --color-primario: #FFF;
    --color-secundario: #75aadb;
    --color-terciario: #fcbf49;
    /* FONT SIZE */
    --tamano-fuente: 1rem;
    /* 1rem = 16px */
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--tamano-fuente);
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario);
    padding: 40px;
    height: 95vh;
    display: flex;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-secundario);
    gap: 40px;
    border: 1px solid yellow;
    justify-content: flex-end;
    justify-items: left;
    align-items: flex-start;
}

/* Seccion de la entrada de la encriptacion */
.encriptainador {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.encriptainador__entrada {
    border: 1px solid var(--color-secundario);
    color: var(--color-secundario);
    background-color: transparent;
    border-radius: 32px;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.encriptainador__entrada:focus,
.encriptainador__entrada:hover {
    box-shadow: 0 0 1rem var(--color-terciario);
}

/* Seccion del resultado de la encriptacion */
.resultado {
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    align-items: center;
    font-size: var(--tamano-fuente)*1.5;
    background-color: #FFF;
    color: #000;
    border-radius: 32px;
    box-shadow: 0 0 1rem var(--color-terciario);
    text-align: center;
    height: 100%;
    padding: 32px;
    border: 1px solid red;
}

.resultado__vacio__titulo:not([hidden]) {
    font-size: calc(var(--tamano-fuente)*1.5);
}

.resultado__salida:not([hidden]) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.resultado__salida__texto:not([hidden]) {
    height: 100%;
    width: 100%;
    font-weight: 600;
    color: #000;
}

.texto {
    word-wrap: break-word;
}


/* Botones */
.encriptainador__botones {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 680px;
    gap: 24px;
    display: flex;
}

.botones {
    border-radius: 24px;
    width: 100%;
    height: calc(var(--tamano-fuente)*4);
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
}

.botones:hover {
    box-shadow: 0 0 1rem var(--color-terciario);
}

#encriptar,
.botones:active {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

/* Pie de pagina */
.footer {
    /* background-color: var(--color-terciario); */
    text-align: center;
    color: #000000;
    font-size: var(--tamano-fuente);
    height: 5vh;
    position: fixed;
    min-height: calc(var(--tamano-fuente)*1.5);
    align-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
}

/* Media Queries */
@media (prefers-color-scheme: dark) {
    :root {
        /* DARK MODE */
        --color-primario: #005384;
        --color-secundario: #e2ecee;
        --color-terciario: #f3bc00;
    }
}

@media (max-width: 768px) {
    .resultado__vacio__imagen {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    .resultado {
        width: 100%;
    }

    .encriptainador {
        width: 100%;
    }

    .encriptainador__botones {
        width: 100%;
    }
}

@media (max-width: 375px) {

    .encriptainador__botones {
        width: 100%;
        flex-direction: column;
    }

}