@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    /* LIGHT MODE */
    --color-primario: #FFF;
    --color-secundario: #75aadb;
    --color-terciario: #fcbf49;
    /* FONT SIZE */
    --tamano-fuente: 1rem;
    /* 1rem = 16px */
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--tamano-fuente);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primario);
    display: flex;
    height: 95vh;
    padding: 40px;
    min-width: 250px;
}

.main {
    color: var(--color-secundario);
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
    justify-content: flex-end;
    justify-items: left;
    width: 100%;
}

/* Seccion de la entrada de la encriptacion */
.encriptainador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
    min-height: 50%;
}

.encriptainador__entrada {
    background-color: transparent;
    border: 1px solid var(--color-secundario);
    border-radius: 32px;
    color: var(--color-secundario);
    font-size: 1.5rem;
    height: 100%;
    overflow: scroll;
    padding: 10px;
    width: 100%;
}

textarea::placeholder {
    color: var(--color-secundario);
}

.encriptainador__entrada:focus,
.encriptainador__entrada:hover {
    box-shadow: 0 0 1rem var(--color-terciario);
}

/* Seccion del resultado de la encriptacion */
.resultado {
    min-height: 50%;
    align-items: center;
    background-color: #FFF;
    border-radius: 32px;
    box-shadow: 0 0 1rem var(--color-terciario);
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: calc(var(--tamano-fuente)*(13));
    min-height: 100%;
    justify-content: center;
    min-width: 400px;
    max-width: 400px;
    padding: 32px;
    text-align: center;
}

.resultado__vacio__titulo {
    font-size: calc(var(--tamano-fuente)*1.5);
}

.resultado__salida:not([hidden]) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.resultado__salida__texto {
    color: #000;
    font-weight: 600;
    height: 100%;
    width: 100%;
}

.texto {
    resize: none;
    word-wrap: break-word;
}

/* Botones */
.encriptainador__botones {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    max-width: 680px;
    width: 100%;
}

.botones {
    background-color: var(--color-primario);
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    color: var(--color-secundario);
    height: calc(var(--tamano-fuente)*4);
    width: 100%;
}

.botones:hover {
    box-shadow: 0 0 1rem var(--color-terciario);
}

#encriptar,
.botones:active {
    background-color: var(--color-secundario);
    color: var(--color-primario);
}

/* Pie de pagina */
.footer {
    align-content: center;
    bottom: 0;
    color: #000000;
    font-size: var(--tamano-fuente);
    font-weight: 600;
    height: 5vh;
    left: 0;
    min-height: calc(var(--tamano-fuente)*1.5);
    position: fixed;
    background-color: var(--color-terciario);
    text-align: center;
    width: 100%;
}

/* Media Queries */
@media (prefers-color-scheme: dark) {
    :root {
        /* DARK MODE */
        --color-primario: #005384;
        --color-secundario: #e2ecee;
        --color-terciario: #f3bc00;
    }
}

@media (max-width: 768px) {
    body {
        align-items: center;
        flex-direction: column;
    }
    
    .resultado__vacio__imagen {
        display: none;
    }
    
    .main {
        justify-content: flex-start;
        flex-direction: column;
    }

    .resultado {
        min-width: 100%;
        height: auto;
    }

    .encriptainador {
        height: auto;
        width: 100%;
    }

    .encriptainador__botones {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .encriptainador__botones {
        flex-direction: column;
        width: 100%;
    }
}